 /*Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {
   .videos {
      padding: 50px;
  }
  .videos i {
   padding: 20px;
   font-size: 30px;
}
.videos p{
   font-size: 12px;
}
    }
 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) and (max-width: 767.98px) {
   .videos {
      padding: 50px;
  }
 }

 /*Medium devices (tablets, 768px and up)*/
 @media (min-width: 768px) and (max-width: 991.98px) {
   .team_div h2{
      font-size: 16px;
   }
   .videos {
      padding: 100px;
  }
  

 }

 /*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199.98px) {
   .team_div h2{
      font-size: 16px;
   }
   
 }

 /*Extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) {}